name: CI

on:
  push:
    branches: [ main, github ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        elixir-version: ['1.18.2']
        otp-version: ['27.1']
        include:
          - elixir-version: '1.17.3'
            otp-version: '26.2'
          - elixir-version: '1.19.1'
            otp-version: '27.1'

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Elixir
      uses: erlef/setup-beam@v1
      with:
        elixir-version: ${{ matrix.elixir-version }}
        otp-version: ${{ matrix.otp-version }}

    - name: Cache deps
      uses: actions/cache@v3
      id: cache-deps
      env:
        cache-name: cache-elixir-deps
      with:
        path: deps
        key: ${{ runner.os }}-mix-${{ env.cache-name }}-${{ hashFiles('**/mix.lock') }}
        restore-keys: |
          ${{ runner.os }}-mix-${{ env.cache-name }}-

    - name: Cache compiled build
      uses: actions/cache@v3
      id: cache-build
      env:
        cache-name: cache-compiled-build
      with:
        path: _build
        key: ${{ runner.os }}-mix-${{ env.cache-name }}-${{ matrix.elixir-version }}-${{ matrix.otp-version }}-${{ hashFiles('**/mix.lock') }}
        restore-keys: |
          ${{ runner.os }}-mix-${{ env.cache-name }}-${{ matrix.elixir-version }}-${{ matrix.otp-version }}-
          ${{ runner.os }}-mix-${{ env.cache-name }}-

    - name: Install dependencies
      run: mix deps.get

    - name: Check Formatting
      run: mix format --check-formatted

    - name: Compile
      run: mix compile --warnings-as-errors

    - name: Run tests
      run: mix test

    - name: Run tests with coverage
      run: mix test --cover
      if: matrix.elixir-version == '1.18.2' && matrix.otp-version == '27.1'

  dialyzer:
    name: Dialyzer
    runs-on: ubuntu-latest
    strategy:
      matrix:
        elixir-version: ['1.18.2']
        otp-version: ['27.1']

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Elixir
      uses: erlef/setup-beam@v1
      with:
        elixir-version: ${{ matrix.elixir-version }}
        otp-version: ${{ matrix.otp-version }}

    - name: Cache deps
      uses: actions/cache@v3
      id: cache-deps
      env:
        cache-name: cache-elixir-deps
      with:
        path: deps
        key: ${{ runner.os }}-mix-${{ env.cache-name }}-${{ hashFiles('**/mix.lock') }}

    - name: Cache compiled build
      uses: actions/cache@v3
      id: cache-build
      env:
        cache-name: cache-compiled-build
      with:
        path: _build
        key: ${{ runner.os }}-mix-${{ env.cache-name }}-${{ matrix.elixir-version }}-${{ matrix.otp-version }}-${{ hashFiles('**/mix.lock') }}

    # Cache key based on Erlang/Elixir version and the mix.lock hash
    - name: Restore PLT cache
      uses: actions/cache/restore@v3
      id: cache-plt
      env:
        cache-name: cache-plt
      with:
        key: |
          plt-${{ runner.os }}-${{ steps.beam.outputs.otp-version }}-${{ steps.beam.outputs.elixir-version }}-${{ hashFiles('**/mix.lock') }}
        path: |
          priv/plts

    - name: Install dependencies
      if: steps.cache-deps.outputs.cache-hit != 'true'
      run: mix deps.get

    - name: Compile
      if: steps.cache-build.outputs.cache-hit != 'true'
      run: mix compile --warnings-as-errors

    # Create PLTs if no cache was found
    - name: Create PLTs
      if: steps.cache-plt.outputs.cache-hit != 'true'
      run: mix dialyzer --plt
      
    # By default, the GitHub Cache action will only save the cache if all steps in the job succeed,
    # so we separate the cache restore and save steps in case running dialyzer fails.
    - name: Save PLT cache
      id: plt_cache_save
      uses: actions/cache/save@v3
      if: steps.plt_cache.outputs.cache-hit != 'true'
      with:
        key: |
          plt-${{ runner.os }}-${{ steps.beam.outputs.otp-version }}-${{ steps.beam.outputs.elixir-version }}-${{ hashFiles('**/mix.lock') }}
        path: |
          priv/plts

    - name: Run dialyzer
      # Two formats are included for ease of debugging and it is lightly recommended to use both, see https://github.com/jeremyjh/dialyxir/issues/530 for reasoning
      # --format github is helpful to print the warnings in a way that GitHub understands and can place on the /files page of a PR
      # --format dialyxir allows the raw GitHub actions logs to be useful because they have the full warning printed
      run: mix dialyzer --format github --format dialyxir

  docs:
    name: Documentation
    runs-on: ubuntu-latest
    strategy:
      matrix:
        elixir-version: ['1.18.2']
        otp-version: ['27.1']

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Elixir
      uses: erlef/setup-beam@v1
      with:
        elixir-version: ${{ matrix.elixir-version }}
        otp-version: ${{ matrix.otp-version }}

    - name: Cache deps
      uses: actions/cache@v3
      id: cache-deps
      env:
        cache-name: cache-elixir-deps
      with:
        path: deps
        key: ${{ runner.os }}-mix-${{ env.cache-name }}-${{ hashFiles('**/mix.lock') }}
        restore-keys: |
          ${{ runner.os }}-mix-${{ env.cache-name }}-

    - name: Install dependencies
      run: mix deps.get

    - name: Generate docs
      run: mix docs

    - name: Upload documentation
      uses: actions/upload-artifact@v4
      with:
        name: documentation
        path: doc/
      if: matrix.elixir-version == '1.18.2' && matrix.otp-version == '27.1'